### Lambda

###### Some Single Line Code Example!!!!

In [ ]:
list()

In [1]:
def x(a):
    return a**2

In [5]:
x

In [7]:
def x(a):return a**2 # if i have only one line body

In [8]:
x(2)

4

In [6]:
if 10>5:print("10 is a bigger number")

10 is a bigger number

In [8]:
for i in range(3):print("I am legend!!!")

I am legend!!!
I am legend!!!
I am legend!!!

In [9]:
for i in range(3):print("I am legend!!!");print("HELLO")

I am legend!!!
HELLO
I am legend!!!
HELLO
I am legend!!!
HELLO

### Lambda

In [ ]:
def x(a):return a+2
x

In [ ]:
#def x(a):return a+2
x=lambda a:a+2
x

### To use lambda you have to use variable.

In [ ]:
def x(a):
    print(a+3)
    return a+2

In [ ]:
u=x(3)

In [ ]:
type(u)

###### code start

In [ ]:
def x(a):return a+2
x(3)

In [ ]:
x=lambda a:a+2   # def x(a):return a+2

In [ ]:
x(2)

# QUE
Eco Fun write a lambda for this

In [2]:
def echo(word):
    print(word*3)

In [3]:
echo("hi")

hihihi

In [6]:
def echo(word):
    print(f"{word}...{word}.......{word}..!!!")

In [7]:
echo("hi")

hi*3!!!

In [14]:
y=lambda word: print(f"{word}...{word}.......{word}..!!!")
y("hello")

hello...hello.......hello..!!!

##### 2 Variables

In [17]:
f=lambda x,y:x+y  # def f(x,y): return x+y

In [18]:
f(3,4)

7

In [19]:
pp=f(4,3)
type(pp)

int

In [ ]:
a=print("hello")# print return type is NONE

In [ ]:
type(a)

In [20]:
i=lambda :"hello"
i()

'hello'

In [21]:
z=lambda :print("name is SAM")  # def z():return print("name is sam")

In [22]:
z()

name is SAM

In [23]:
abc=z()
type(abc)

name is SAM

NoneType

In [ ]:
type(z)

In [ ]:
z=lambda x:print("name is ",x)
z("sam")

In [ ]:
cc=z("hello")

In [ ]:
type(cc)

In [ ]:
x=[2,3,4]
x.extend(input())
print(x)


y=lambda *arg:print("Values are: ", arg)
y(x)
y(3,4,5,6)

In [ ]:
print(*[3,4,5])

### Sq of the value

In [ ]:
l=lambda x:x**2
l(2)

#### Check even n odd

In [24]:
chk=lambda x:x%2==0  # Checking the even number

In [25]:
chk(6)

True

In [26]:
chk(3)

False

In [27]:
if chk(6):
    print("even")
else:
    print("odd")

even

In [28]:
"hello" if True else "hi"

'hello'

In [29]:
"hello" if False else "hi"

'hi'

In [31]:
c="hello" if 100>50 else "hi"
c

'hello'

In [32]:
x=int(input("Number= "))
"even" if x%2==0 else "odd"

Number=  9

'odd'

In [33]:
var=lambda a,b:a if a>b else b # checking for greater number

In [35]:
var(33,6)

33

In [36]:
print("the bigger value is ",var(5,7))

the bigger value is  7

In [37]:
chk=lambda x:"even" if x%2==0 else "odd" # checking for even and odd

In [38]:
chk(5)

'odd'

In [39]:
chk(4)

'even'

In [ ]:
# % modulo

In [40]:
y=lambda x:"even" if x%2==0 else "odd"   # lambda goes into for loop

for i in range(1,5):
    print( )   # x(1,2,3,4)

odd
even
odd
even

In [ ]:
# rough raw code # ADVANCE 
s=lambda x: "abc" if x<10 else "xyz" if x<20 else "qwe" #if x<30 else "pqr"
s(100)

#### Default values

In [ ]:
s=lambda x=1: "abc" if x<10 else "xyz"
s()

In [ ]:
s=lambda x=1: "abc" if x<10 else "xyz"
s(100)

* No elif allowed
* end with else n a value

## Exercise
### Que: Age - input
* If age minor or teen or adult or mid age or old
         minor<13 teen<19 adult<40 mid age< 60<old

In [ ]:
ageChk=lambda x: "minor" if x<13 else "teen" if x<20 else "adult" if x<40 else "mid age" if x<60 else "Old"
ageChk(19)

In [42]:
#nested ifelse in lambda mode
age = int(input("Enter your age: "))
agecheck = lambda age: "Minor" if age < 13 else "Teenager" if age < 20 else "Adult" if age<40 else "Mid Age" if x < 60 else "Senior Age"

Enter your age:  78

## Mapping

map(func, *iterables)

In [ ]:
print()

In [46]:
def f(x)-> "sq of value f(int)":    #  function
    '''hello 
    this function is going to sq of value you give'''
    return x**2

In [47]:
f(4)

16

In [ ]:
def f(x):
    return x**2

In [ ]:
f

In [49]:
f(3)

9

In [48]:
for i in [2,3,4]:
    print(f(i))

4
9
16

In [50]:
map(f,[2,3,4])  #map(func, *iterables) --> map object

In [51]:
list(map(f,[2,3,4]))

[4, 9, 16]

In [52]:
var=list(map(f,[2,3,4]))

In [53]:
var

[4, 9, 16]

In [55]:
list(map(f,[2,3,4]))

[4, 9, 16]

In [54]:
#above is same as below
def f(x)-> "sq of value":    #  function
    return x**2

lst=[]
for i in [2,3,4]:
    lst.append(f(i))
print(lst)

[4, 9, 16]

* we create a function
* we put it in a for loop 
* append value to list
* we print

 #### Let us try this with mapping and lambda

### Mapping with Lambda

* We create lambda for fun
* we give list
* We use map for the FOR loop
* Put it in the list fun just like appending

In [56]:
list(map(lambda x:x**2,[4,5,6,7]))

[16, 25, 36, 49]

In [ ]:
"k"*6

In [57]:
for i in "abcd":
    print(i," ",i*2)

a   aa
b   bb
c   cc
d   dd

In [58]:
list(map(lambda x:x*2,"abcd"))

['aa', 'bb', 'cc', 'dd']

In [59]:
list(map(lambda x,y:x*y,[4,5,6,7],[3,4,5,6])) # whith 2 var n iters

[12, 20, 30, 42]

In [60]:
list(map(lambda x,y:x*y,[2,3,4,5,6,7],[3,4,5])) # different length

[6, 12, 20]

In [61]:
list(map(lambda x=1,y=1:x*y,[2,3,4,5,6,7],[3,4,5])) # different length,
#default value

[6, 12, 20]

In [62]:
list(map(list,"abc"))# list is also a function   a=list("abc")

[['a'], ['b'], ['c']]

In [63]:
list(map(int,"1234"))

[1, 2, 3, 4]

In [64]:
list(map(float,"1234"))

[1.0, 2.0, 3.0, 4.0]

### Sort

In [65]:
p = [("a", 3), ("c", 2), ("b", 1), ("d", 4)]
print(sorted(p))
print(sorted(p, key=lambda x: x[1]))

[('a', 3), ('b', 1), ('c', 2), ('d', 4)]
[('b', 1), ('c', 2), ('a', 3), ('d', 4)]

In [66]:
d=dict(b=3,a=9,c=5)
print(d)
print(sorted(d))
print(sorted(d.items(),key=lambda x:x[1]))

{'b': 3, 'a': 9, 'c': 5}
['a', 'b', 'c']
[('b', 3), ('c', 5), ('a', 9)]

In [ ]:
d.items()

# Same age que with mapping

In [68]:
ageChk=lambda x: "minor" if x<13 else "teen" if x<20 else "adult" if x<40 else "mid age" if x<60 else "Old"
ageChk(100)

'Old'

In [ ]:
list(map(ageChk,[3,4,56,78]))

In [72]:
list(range(10,71,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

In [70]:
print(list(map(ageChk,list(range(10,70,5)))))

['minor', 'teen', 'adult', 'adult', 'adult', 'adult', 'mid age', 'mid age', 'mid age', 'mid age', 'Old', 'Old']

### Filters

* filter(function or None, iterable)

In [73]:
st=[3,4,5,6,7,11,12]
ap=[]
for i in st:
    if i>10:
        ap.append(i)
ap

[11, 12]

In [74]:
list(filter(lambda x:x>10,[3,4,5,6,7,11,12]))

[11, 12]

In [75]:
list(filter(None,[3,4,5,6,7,11,12]))

[3, 4, 5, 6, 7, 11, 12]

### Take the list [2,3,4,5,6,7,8,9,10,11,12],pick only even numbers from it.Then find the square of each.
* Use 1st time only function without lambda fiter or map
* 2nd time use all lambda map filter togather

* list(map(lambda function, list(filter(lambda function, starting list))))

In [ ]:
l=[2,3,4,5,6,7,8,9,10,11,12]  # list(range(2,13))

In [ ]:
def filt(x):
    even_l=[]
    for i in x:
        if i%2==0:
            even_l.append(i)
    return even_l

In [ ]:
def sqr(y):
    sqr_values=[]
    for i in y:
        sqr_values.append(i**2)
    return sqr_values

In [ ]:
a=filt(l)
a

In [ ]:
b=sqr(a)
b

BY a single function for smaller code

In [ ]:
def filt_sqr(x):
    even_l=[]
    for i in x:
        if i%2==0:
            even_l.append(i**2)
    return even_l

In [ ]:
filt_sqr(l)

## Filter Map and Lambda

In [ ]:
list(filter(lambda x:x%2==0,[2,3,4,5,6,7,8,9,10,11,12]))

In [3]:
list(map(lambda x:x**2,filter(lambda x:x%2==0,[2,3,4,5,6,7,8,9,10,11,12])))

[4, 16, 36, 64, 100, 144]